@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
html, body{
  background-color: #DDDDDD;
}
body {
  margin: 0;
  font-family: "Jura", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
